.header {
  text-align: center;
  color: rgb(245, 238, 238);
}

.dates{
  margin-top: 45px;
  background-color: whitesmoke;
  padding: 13px;
}

.dates b{
  background-color: red;
  color: white;
  padding: 2px;
  margin-left: 10px;
}
*{
  background-color: black;
  box-sizing: border-box;
}
/* img{
  size: 10;
} */

.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.row {
  margin: 0 -4px;
  margin-left: 70px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card{
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
}

.year p{
  color: black;
  background-color: white;
  margin-left: 20px;
}
button {
  color: white;
  background-color: black;
  padding: 10px;
  margin-left: 20px;
}
.year{
  background-color: white;
  text-align: left;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

